<div class="product-form">
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= text_field(:post, "", class: 'form-control') %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= text_area(:post, "", class: 'form-control', size: "7x7") %>
  </div>

  <div class="field">
    <%= form.label :image_url %><br>
    <%= text_field(:post, "", class: 'form-control') %>
  </div>

  <div class="field">
    <%= form.label :colour %><br>
    <%= text_field(:post, "", class: 'form-control') %>
  </div>

  <div class="field">
    <%= form.label :price %><br>
    <%= text_field(:post, "", class: 'form-control', size: 15) %>
  </div>

  <div class="actions">
    <%= submit_tag("Submit", class:"btn btn-default btn-product") %>
  </div>

  
  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', products_path %>
<% end %>
</div>
