<div class="col-sm-2 col-md-4 product">
  <div class="product-name"><h1><%= product.name %></h1></div>
  <strong class="product-price">$ <%= product.price %></strong>
  <strong class="product-colour"><%= product.colour %></strong>
  <div>
    <%= link_to image_tag(product.image_url, class: "product-image image-responsive"), product %>
  </div>
  <p class="product-description"><%= product.description %></p>
  <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div><!-- /col -->
	
