

<p id="notice"><%= notice %></p>

<div class="show-wrapper">
  <h2 class="product-show-name">
    <strong>Name: </strong>
    <%= @product.name %>
  </h2>

  <div class="product-show-image-wrapper">
    <%= image_tag(@product.image_url, class: "product-show-image image-responsive") %>
  </div>

  <h3>
    <strong>Price: </strong>
    <%= @product.price %>
  </h3>

  <div class="product-review"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Highest rated review: <%= @product.highest_rating_comment %><br><br>
  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Lowest rated review: <%= @product.lowest_rating_comment %></div>

  <p class="product-show-description">
    <strong>Description: </strong>
    <%= @product.description %>
  </p>
  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

  <%= render 'new_comment' %>
  <%= render 'comments' %>

  <p><%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %></p>
</div>

