<div class="show-wrapper">
  <h2 class="product-show-name">
    <strong>Name: </strong>
    <%= @product.name %>
  </h2>

  <div class="product-show-image-wrapper">
    <%= image_tag(@product.image_url, class: "product-show-image image-responsive") %>
  </div>

  <h3>
    <strong>Price: </strong>
    <%= "$#{'%.2f' %(@product.price.to_i / 100)}" %>
  </h3>

  <div class="product-review"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Highest rated review: <%= @product.highest_rating_comment %><br><br>
  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Lowest rated review: <%= @product.lowest_rating_comment %></div>

  <p class="product-show-description">
    <strong>Description: </strong>
    <%= @product.description %>
  </p>
  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
  <div><%= form_with(url: '/payments/create') do |form| %>
    <%= hidden_field_tag(:product_id, @product.id) %>
    <%= render partial: "shared/stripe_checkout_button" %>
  <% end %></div>

  <%= render 'new_comment' %>
  <%= render 'comments' %>

  <%= will_paginate @comments %>
  <% if signed_in? && current_user.admin? %>
  <p><%= link_to 'Edit', edit_product_path(@product) %> |
  <% end %>
  <%= link_to 'Back', products_path %></p>
</div> <!-- end of show-wrapper -->

