<p id="notice"><%= notice %></p>
<main class="show-wrapper">
  <p>
    <strong>Name: </strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description: </strong>
    <%= @product.description %>
  </p>

  <p>
    <%= image_tag(@product.image_url) %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</main>
